# --- Java ---
**/target/
*.jar
*.war

# --- Angular / Node ---
**/node_modules/
**/dist/
**/.angular/
.npm/

# --- IDE (WebStorm, IntelliJ, VS Code) ---
.idea/
.vscode/
*.iml

# --- Docker & Środowisko ---
.env
docker-compose.override.yml

# --- Systemowe śmieci (opcjonalnie, ale warto) ---
.DS_Store
Thumbs.db