<div class="border-b border-[#32cd32]/30 p-4 hover:bg-white/[0.01] transition-colors cursor-pointer group/thread">
  <div class="flex flex-col space-x-3">

    <div class="flex gap-3">
      <app-threado-avatar
        size="3rem"
        avatarUrl="https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/accounts/avatars/107/841/586/977/713/410/original/abcd2c1aff2a6323.jpeg"
      ></app-threado-avatar>

      <div class="flex flex-col items-center overflow-hidden">
        <span class="font-bold text-white hover:underline truncate">Marco Rubio</span>
        <span class="text-gray-500 text-sm truncate">@marcorubio</span>
      </div>
    </div>

    <div class="flex-grow min-w-0">
      <div class="mt-1 text-white text-[15px] leading-relaxed">
        Vote! Every single vote counts in this election. Let's make it happen. 🗳️
      </div>

      <div class="mt-3 rounded-2xl overflow-hidden border border-gray-800 bg-gray-900/50">
        <img src="https://static-assets-1.truthsocial.com/tmtg:prime-ts-assets/media_attachments/files/113/430/734/770/050/915/small/647039c47eac7c86.jpg"
             alt="Thread image" class="w-full h-auto object-cover max-h-[512px] hover:scale-[1.01] transition-transform duration-500">
      </div>

      <div class="mt-4 flex justify-around -ml-2 text-gray-500">
        <button class="flex items-center space-x-2 group/btn hover:text-[#32cd32] transition cursor-pointer">
          <div class="p-2 group-hover/btn:bg-[#32cd32]/10 rounded-full transition">
            <lucide-icon [img]="MessageCircleIcon" class="w-5 h-5"></lucide-icon>
          </div>
          <span class="text-xs font-medium">59</span>
        </button>

        <button class="flex items-center space-x-2 group/btn hover:text-green-500 transition cursor-pointer">
          <div class="p-2 group-hover/btn:bg-green-500/10 rounded-full transition">
            <lucide-icon [img]="RepeatIcon" class="w-5 h-5"></lucide-icon>
          </div>
          <span class="text-xs font-medium">101</span>
        </button>

        <button class="flex items-center space-x-2 group/btn hover:text-red-500 transition cursor-pointer">
          <div class="p-2 group-hover/btn:bg-red-500/10 rounded-full transition">
            <lucide-icon [img]="HeartIcon" class="w-5 h-5"></lucide-icon>
          </div>
          <span class="text-xs font-medium">792</span>
        </button>

        <button class="flex items-center space-x-2 group/btn hover:text-blue-500 transition cursor-pointer">
          <div class="p-2 group-hover/btn:bg-blue-500/10 rounded-full transition">
            <lucide-icon [img]="BookmarkIcon" class="w-5 h-5"></lucide-icon>
          </div>
          <span class="text-xs font-medium">792</span>
        </button>
      </div>
    </div>
  </div>
</div>
