<nav class="p-4 flex flex-col h-screen">

  <div class="flex justify-between items-center mb-6 lg:mb-8 px-4">
    <a routerLink="/home" class="inline-block hover:opacity-80 transition">
      <img src="threado_logo.png" class="w-10 h-10 object-contain" alt="Logo">
    </a>
  </div>

  <div class="flex flex-col gap-2 flex-grow">
    @for (item of menuItems; track item.route) {
      <app-nav-item [item]="item"></app-nav-item>
    }

    <div class="mt-4 px-2">
      <app-threado-button
        text="Thread"
        customClasses="w-full py-3 text-lg font-bold">
      </app-threado-button>
    </div>
  </div>

  <div class="mt-auto mb-4">
    <button class="w-full flex items-center justify-center xl:justify-start gap-3 p-3 rounded-full hover:bg-white/10 transition">
      <app-threado-avatar size="3rem"></app-threado-avatar>

      <div class="hidden xl:flex flex-col text-left">
        <span class="font-bold text-sm text-white">Mateusz</span>
        <span class="text-xs text-gray-500">&#64;mateusz_dev</span>
      </div>
    </button>
  </div>
</nav>
